<%= provide(:title, 'Messages') %>

<div class="row align-center">
  <div class="small-12 columns">
    <h3>Recent posts</h3>
    <% if @posts.empty? %>
    <div class="row">
      <div class="small-12 columns">
        <p> There are no recent posts. Go to
          <%= link_to "Dashboard", new_post_path, class: "white-link" %>
          to create one
        </p>
      </div>
    </div>
    <% else %>
      <%= render @posts %>
    <% end %>

  </div>
</div>

<p>
  <%= @session %>
</p>
