.home-container
  height: 100vh
  padding-top: calc(30vh )
  padding-bottom: calc(100vh - 75% )
  background-color: #1C5969
  color: white
  .button
    color: white
    border-color: white
    &:hover
      color: #1C5969
      border-color: #1C5969
      background-color: white

.main-content-padding
  padding: 2em 0

.callout
  color: black

.button.hollow
  border-color: white
  color: white
  &:hover
    border-color: white
    color: #1C5969
    background-color: white



.white-link
  color: white
  text-decoration: underline
  &:hover
    color: lightgray
