<nav class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">twitar</li>
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu align-right">
      <li><a href="#">Log in</a></li>
    </ul>
  </div>
</nav>
